# ipychart
dj-database-url
Django
django-chartjs
django-dbbackup
django-extensions
django-heroku
django-smuggler
django-sslserver
django-tidy
djangorestframework
gunicorn
pandas
# psycopg2
psycopg2-binary
pytz
whitenoise
xlrd
