{% extends '../base.html' %}

{% block content %}
{% load static %}

<section class="border-before-footer">
  <div class="container">
    <div class="title context-h1-intertitle">
      <h1 class="cyberpunk">{% firstof title context.title %}</h1>
    </div>

    <div class="context-text">
      <p>Estes são meus futuros planejamentos financeiros para eu viver sozinho com a minha independência e a minha liberdade totais. Se eu não tiver oportunidade ou sorte de ir para estes países, ficarei no Brasil, mas devo residir nas cidades com menores percentuais de infecção e morte por COVID-19, homicídio, latrocínio e roubo, valoriza mais e leva mais as ciências e as futuras pandemias a sério. Não residirei nas cidades que rejeitam medidas necessárias e preventivas das futuras pandemias e a vacina.</p>
    </div>

    <div class="context-text">
      <p>A lista de compras de itens de casa e de limpeza é temporária e única. No caso de itens de limpeza, quando acabarem, devo comprar alguns deles. A lista de comida, contas de casa (água, aluguel, gás e luz) e remédios é mensal.</p>
    </div>
    
    <div class="group-tabbed">
      <div class="tabbed-set">
        <input name="__tabbed_1" type="radio" id="__tabbed_1_1">
        <label for="__tabbed_1_1">Brasil</label>
        <div class="tabbed-content">

          <div class="context-text">
            <p>Se eu não tiver sorte de ir para Nova Zelândia ou Uruguai por motivos de idade e de restrições, ficarei no Brasil.</p>
          </div>
          <div class="context-text">
            <p>Já tenho guarda-roupa, cama, computador com gabiente, mesa, monitor e cadeira de escritório.</p>
          </div>

          <div class="advantages-and-disadvantages">
            <div class="advantages">
              <div class="context-h3-intertitle">
                <h3>Vantagens</h3>
              </div>
              <ul>
                <li>O custo de vista mensal é mais barato do que os em todos estes países.</li>
                <li>O aluguel de um apartamento é mais barato.</li>
              </ul>
            </div>
            <div class="disadvantages">
              <h3>Desvantagens</h3>
              <ul>
                <li>Brasil é um país desigual, preconceituoso e violento, então tenho menos chance de viver.</li>
                <li>Brasil não é um país colaborativo, cooperativo e sério em relação à saúde e à pandemia de COVID-19 e às futuras pandemias, então tenho menos chance de sobreviver.</li>
                <li>Mesmo o custo de vida sendo mais barato, meu salário é baixo. Se eu vier trabalhar e for demitido, posso não conseguir reabilitar o benefício designado para pessoas com deficiência como eu.</li>
              </ul>
            </div>
          </div>

          <h2>Pagamento temporário e único</h2>
        
          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_shopping | safe }}
            </div>
          </div>
        
          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_supermarket | safe }}
            </div>
          </div>

          <h2>Pagamentos mensais</h2>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_bills | safe }}
            </div>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_food | safe }}
            </div>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_medicaments | safe }}
            </div>
          </div>

          <h2>Totalização</h2>

          <div class="context-text">
            <p>Finalizando os cálculos, devo guardar o total na última linha ciano: </p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {{ brazil_totalisation | safe }}
            </div>
          </div>
        
        </div>

        <input name="__tabbed_1" type="radio" id="__tabbed_1_2" checked="checked">
        <label for="__tabbed_1_2">Nova Zelândia</label>
        <div class="tabbed-content">

          <div class="context-text">
            <p>Se eu conseguir guardar centenas de milhares de reais na conta de poupança, terei mais chance de ir à Nova Zelândia.</p>
          </div>

          <div class="context-text" id="minimum-wage">
            <p>Primeiramente, segundo <a href="https://www.employment.govt.nz/hours-and-wages/pay/minimum-wage/minimum-wage-rates/">o Ministério de Negócios, Inovação e Emprego neozelandês</a>, como em [[ date ]], um estagiário ganha [[ trainee ]] dólares neozelandeses por hora, e um adulto ganha [[ adult ]] dólares neozelandeses por hora. Por semana, [[ trainee_week ]] e [[adult_week ]] dólares neozelandes. Por mês, [[ trainee_month ]] e [[adult_month ]] dólares neozelandeses. Por ano, [[ trainee_year ]] e [[ adult_year ]] dólares neozelandeses.</p>
          </div>

          <div class="context-text" id="salary-of-a-developer">
            <p>O salário minímo anual de um desenvolvedor pleno é 50 mil dólares neozelandeses, o médio é 65 mil e o máximo é 92 mil. Já mensalmente, no minímo, receberá [[ minimum_monthly_salary ]] dólares neozelandeses, no médio [[ average_monthly_salary ]] e no máximo, [[ maximium_monthly_salary ]].</p>
          </div>

          <div class="advantages-and-disadvantages">
            <div class="advantages">
              <div class="context-h3-intertitle">
                <h3>Vantagens</h3>
              </div>
              <ul>
                <li>A Nova Zelândia é um dos países com menor percentual de corrupção no governo.</li>
                <li>Tem menos chance de desastres naturais.</li>
                <li>É um país mais colaborativo com as medidas necessárias e preventivas de COVID-19 e das próximas pandemias.</li>
                <li>É um país mais sério em relação às ciências, à medicina e à saúde, e que valoriza mais os trabalhadores de hospital.</li>
                <li>É um dos países mais <i>gay-friendly</i>.</li>
              </ul>
            </div>
            <div class="disadvantages">
              <h3>Desvantagens</h3>
              <ul>
                <li>Possui um custo de vida mais alto que os no Brasil e no Uruguai.</li>
                <li>Domperidona e timtolol de maleato não estão disponíveis na Nova Zelândia, mas omeprazol está disponível.</li>
                <li>Possui muias restrições rígidas em relação à imigração. O visto <i>holiday working</i> é aplicado apenas para pessoas com até 30 anos e com 21 mil reais na conta. Talvez eue steja encaixado no <i>skill shortage list checker</i> em que minhas profissões estão em demanda, mas terei de competir com inúmeros concorrentes das mesmas profissões.</li>
                <li>Gostam mais dos argentinos, dos chilenos e dos uruguaios e não gostam mais de brasileiros. Podem desconfiar de nós com suspeita, por causa do governo do Bolsonaro.</li>
                <li>Brasileiros precisam de vistos, diferentemente dos argentinos, chilenos, portugueses e uruguaios que não precisam de visto.</li>
              </ul>
            </div>
          </div>

          <h2>Pré-viagem</h2>

          <div class="context-text">
            <p>Antes da pré-viagem, primeiramente devo consultar um <i>immigrant advisor</i> brasileiro e licenciado pelas autoridades neozelandesas para checar se tenho mais chance com a Nova Zelândia devido à minha idade.</p>
          </div>

          <div class="context-text">
            <p>Se o <i>immigrant advisor</i> confirmar que terei chance, então antes da viagem, devo comprar duas malas grandes, uma para guardar as roupas e os acessórios para cuidados da higiene pessoal, outra para guardar as peças e os componentes do computador sem trazer o gabinete que não caberia na mala. Não posso levar os remédios. Quando eu estiver na Nova Zelândia, tenho de consultar um gastroenterologista e um oftalmologista para obter as alternativas disponíveis à domperidona e ao timtolol de maleato.</p>
          </div>

          <div class="context-text">
            <p>Além disso, decidirei ou não se tentarei obter uma cidadania portuguesa por possuir uma descendência de judeus sefarditas. A agência que analisar a minha descendência e a embaixada ou o consulado que fizer uma cidadania e um passaporte, custam mais ou menos 3,1 mil reais. Com isto, não precisarei de visto para Nova Zelândia.</p>
          </div>

        </div>

        <input name="__tabbed_1" type="radio" id="__tabbed_1_3">
        <label for="__tabbed_1_3">Uruguai</label>
        <div class="tabbed-content">Test 3</div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block vue %}

{% endblock %}