{% extends '../base.html' %}

{% block content %}
{% load humanize %}
{% load static %}
{% load mathfilters %}

<section class="border-before-footer">
  <div class="container">
    <div class="title context-h1-intertitle">
      <h1 class="cyberpunk">{% firstof title context.title %}</h1>
    </div>

    <div class="context-text">
      <p>São meus planejamentos financeiros para eu viver sozinho com independência e liberdade totais. Se eu não tiver oportunidade ou sorte de ir para Nova Zelândia ou Uruguai, ficarei no Brasil, mas devo residir nas cidades com menores percentuais de infecção e morte por COVID-19, homicídio, latrocínio e roubo, valoriza mais e leva mais as ciências e as futuras pandemias a sério. Não residirei nas cidades que rejeitam medidas necessárias e preventivas das futuras pandemias e a vacina.</p>
    </div>

    <div class="context-text">
      <p>As listas de compras de itens de casa e de limpeza são temporárias e únicas. Quando alguns itens de limpeza acabarem, devo comprá-los. As listas de comida, contas de casa (água, água mineral, aluguel, gás e luz) e remédios são mensais.</p>
    </div>
    
    <div class="group-tabbed">
      <div class="tabbed-set">
        <input name="__tabbed_1" type="radio" id="__tabbed_1_1" checked="checked">
        <label for="__tabbed_1_1">Brasil</label>
        <div class="tabbed-content">

          <div class="context-text">
            <p>Se eu não tiver oportunidade ou sorte de ir para Nova Zelândia ou Uruguai por motivos de idade, ficarei no Brasil. Optarei pela cidade paulista de Pompeia, considerada uma “Nova Zelândia brasileira”.</p>
          </div>

          <div class="context-text">
            <p>Já tenho guarda-roupa, cama, cobertores, computador com gabiente, cadeira e mesa de escritório e monitor.</p>
          </div>

          <div class="advantages-and-disadvantages">
            <div class="advantages">
              <div class="context-h3-intertitle">
                <h3>Vantagens</h3>
              </div>
              <ul>
                <li>O custo de vista mensal é mais barato do que os em todos estes países.</li>
                <li>O aluguel de um apartamento é mais barato.</li>
              </ul>
            </div>
            <div class="disadvantages">
              <h3>Desvantagens</h3>
              <ul>
                <li>Brasil é um país desigual, preconceituoso e violento, então tenho menos chance de viver. Devo migrar para as cidades com menor percentual de homicídio, latrocínio e roubo.</li>
                <li>Brasil não é um país colaborativo, cooperativo e sério em relação à saúde e à pandemia de COVID-19 e às futuras pandemias, então tenho menos chance de sobreviver.</li>
                <li>Mesmo o custo de vida sendo mais barato, meu salário é baixo. Se eu vier trabalhar e for demitido, posso não conseguir reabilitar o benefício designado para pessoas com deficiência como eu.</li>
              </ul>
            </div>
          </div>

          <h2>Pagamento temporário e único</h2>
        
          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="bills">
                <caption>Compras</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in brazil_shopping %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ brazil_shopping_total_brl }}</td>
                    <td>{{ brazil_shopping_total_cad }}</td>
                    <td>{{ brazil_shopping_total_nzd }}</td>
                    <td>{{ brazil_shopping_total_usd }}</td>
                    <td>{{ brazil_shopping_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        
          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="supermarket">
                <caption>Supermarket</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in brazil_supermarket %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ brazil_supermarket_total_brl }}</td>
                    <td>{{ brazil_supermarket_total_cad }}</td>
                    <td>{{ brazil_supermarket_total_nzd }}</td>
                    <td>{{ brazil_supermarket_total_usd }}</td>
                    <td>{{ brazil_supermarket_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Pagamentos mensais</h2>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="bills">
                <caption>Contas Mensais</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in brazil_bill %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ brazil_bill_total_brl }}</td>
                    <td>{{ brazil_bill_total_cad }}</td>
                    <td>{{ brazil_bill_total_nzd }}</td>
                    <td>{{ brazil_bill_total_usd }}</td>
                    <td>{{ brazil_bill_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="food">
                <caption>Comida</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in brazil_food %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ brazil_food_total_brl }}</td>
                    <td>{{ brazil_food_total_cad }}</td>
                    <td>{{ brazil_food_total_nzd }}</td>
                    <td>{{ brazil_food_total_usd }}</td>
                    <td>{{ brazil_food_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="food">
                <caption>Remédios</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in brazil_medicaments %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ brazil_medicaments_total_brl }}</td>
                    <td>{{ brazil_medicaments_total_cad }}</td>
                    <td>{{ brazil_medicaments_total_nzd }}</td>
                    <td>{{ brazil_medicaments_total_usd }}</td>
                    <td>{{ brazil_medicaments_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Totalização</h2>

          <div class="context-text">
            <p>Finalizando os cálculos, devo guardar o total na última linha ciano: </p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="totalisation">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Bills</td>
                      <td>{{ brazil_bill_total_brl }}</td>
                      <td>{{ brazil_bill_total_cad }}</td>
                      <td>{{ brazil_bill_total_nzd }}</td>
                      <td>{{ brazil_bill_total_usd }}</td>
                      <td>{{ brazil_bill_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Food</td>
                      <td>{{ brazil_food_total_brl }}</td>
                      <td>{{ brazil_food_total_cad }}</td>
                      <td>{{ brazil_food_total_nzd }}</td>
                      <td>{{ brazil_food_total_usd }}</td>
                      <td>{{ brazil_food_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Medicaments</td>
                      <td>{{ brazil_medicaments_total_brl }}</td>
                      <td>{{ brazil_medicaments_total_cad }}</td>
                      <td>{{ brazil_medicaments_total_nzd }}</td>
                      <td>{{ brazil_medicaments_total_usd }}</td>
                      <td>{{ brazil_medicaments_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Shopping</td>
                      <td>{{ brazil_shopping_total_brl }}</td>
                      <td>{{ brazil_shopping_total_cad }}</td>
                      <td>{{ brazil_shopping_total_nzd }}</td>
                      <td>{{ brazil_shopping_total_usd }}</td>
                      <td>{{ brazil_shopping_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Supermarket</td>
                      <td>{{ brazil_supermarket_total_brl }}</td>
                      <td>{{ brazil_supermarket_total_cad }}</td>
                      <td>{{ brazil_supermarket_total_nzd }}</td>
                      <td>{{ brazil_supermarket_total_usd }}</td>
                      <td>{{ brazil_supermarket_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>{{ brazil_total_brl }}</td>
                      <td>{{ brazil_total_cad }}</td>
                      <td>{{ brazil_total_nzd }}</td>
                      <td>{{ brazil_total_usd }}</td>
                      <td>{{ brazil_total_uyu }}</td>
                    </tr>
                </tbody>
              </table>

            </div>
          </div>
        
        </div>

        <input name="__tabbed_1" type="radio" id="__tabbed_1_2">
        <label for="__tabbed_1_2">Nova Zelândia</label>
        <div class="tabbed-content">

          <div class="context-text">
            <p>Se o <i>immigration advisor</i> confirmar que terei mais chance apesar da minha idade e eu conseguir guardar centenas de milhares de reais na conta de poupança, terei mais chance de ir à Nova Zelândia.</p>
          </div>

          <div class="context-text" id="minimum-wage">
            <p>Primeiramente, segundo o portal do <a href="https://www.employment.govt.nz/hours-and-wages/pay/minimum-wage/minimum-wage-rates/"> Ministério de Negócios, Inovação e Emprego neozelandês</a>, como em [[ date ]], veja a tabela:</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="nz-general-salary">
                <caption>Salários na Nova Zelândia</caption>
                <thead>
                  <tr>
                    <th>Tipo de salário mínimo</th>
                    <th>Por hora</th>
                    <th>8 horas por dia</th>
                    <th>40 horas por semana</th>
                    <th>Mês</th>
                    <th>Por ano</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Adulto</td>
                    <td>{{ nz_adult_hour }}</td>
                    <td>{{ nz_adult_hour | mul:8 }}</td>
                    <td>{{ nz_adult_hour | mul:40 }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:12 | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Estagiário</td>
                    <td>{{ nz_trainee_hour }}</td>
                    <td>{{ nz_trainee_hour | mul:8 }}</td>
                    <td>{{ nz_trainee_hour | mul:40 }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:12 | intcomma }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="context-text" id="salary-of-a-developer">
            <p>Agora veja a tabela do salário do desenvolvedor pleno sênior:</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="nz-salary-developer">
                <caption>Salário de desenvolvedor pleno sênior na Nova Zelândia</caption>
                <thead>
                  <tr>
                    <th>Saláro</th>
                    <th>Por hora</th>
                    <th>8 horas por dia</th>
                    <th>40 horas por semana</th>
                    <th>25 dias</th>
                    <th>Por ano</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Minímo</td>
                    <td>{{ nz_minimum_developer_hour }}</td>
                    <td>{{ nz_minimum_developer_hour | mul:08 | floatformat:"0" }}</td>
                    <td>{{ nz_minimum_developer_hour | mul:40 | floatformat:"0" }}</td>
                    <td>{{ nz_minimum_developer_hour | mul:08 | mul:25 | floatformat:"0" }}</td>
                    <td>{{ nz_minimum_developer_hour | mul:08 | mul:25 | mul:12 | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Médio</td>
                    <td>{{ nz_average_developer_hour }}</td>
                    <td>{{ nz_average_developer_hour | mul:08 | floatformat:"0" }}</td>
                    <td>{{ nz_average_developer_hour | mul:40 | floatformat:"0" }}</td>
                    <td>{{ nz_average_developer_hour | mul:08 | mul:25 | floatformat:"0" }}</td>
                    <td>{{ nz_average_developer_hour | mul:08 | mul:25 | mul:12 | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Máximo</td>
                    <td>{{ nz_maximum_developer_hour }}</td>
                    <td>{{ nz_maximum_developer_hour | mul:08 | floatformat:"0" }}</td>
                    <td>{{ nz_maximum_developer_hour | mul:40 | floatformat:"0" }}</td>
                    <td>{{ nz_maximum_developer_hour | mul:08 | mul:25 | floatformat:"0" }}</td>
                    <td>{{ nz_maximum_developer_hour | mul:08 | mul:25 | mul:12 | floatformat:"0" | intcomma }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="advantages-and-disadvantages">
            <div class="advantages">
              <div class="context-h3-intertitle">
                <h3>Vantagens</h3>
              </div>
              <ul>
                <li>A Nova Zelândia é um dos países com menor percentual de corrupção no governo.</li>
                <li>Tem menos chance de desastres naturais.</li>
                <li>É um país mais colaborativo com as medidas necessárias e preventivas de COVID-19 e das próximas pandemias.</li>
                <li>É um país mais sério em relação às ciências, à medicina e à saúde, e que valoriza mais os trabalhadores de hospital.</li>
                <li>É um dos países mais <i>gay-friendly</i>.</li>
              </ul>
            </div>
            <div class="disadvantages">
              <h3>Desvantagens</h3>
              <ul>
                <li>Possui um custo de vida mais alto que os no Brasil e no Uruguai.</li>
                <li>A passagem do Brasil para a Nova Zelândia é mais cara que a do Brasil para Uruguai.</li>
                <li>Domperidona e malaea de timolol não estão disponíveis na Nova Zelândia, mas omeprazol está disponível.</li>
                <li>Possui muias restrições rígidas em relação à imigração. O visto <i>holiday working</i> é aplicado apenas para pessoas com até 30 anos e com dezenas de milhares reais na conta. Talvez eu esteja encaixado no <i>skill shortage list checker</i> em que minhas profissões estão em demanda, mas terei de competir com inúmeros concorrentes das mesmas profissões.</li>
                <li>Podem desconfiar dos brasileiros com suspeita, por causa das posições do governo contrárias ao meio ambiente e à pandemia.</li>
                <li>Brasileiros precisam de vistos de 3 meses.</li>
              </ul>
            </div>
          </div>

          <h2>Pré-viagem</h2>

          <div class="context-text">
            <p>Antes da pré-viagem, primeiramente devo consultar um <i>immigrant advisor</i> brasileiro e licenciado pelas autoridades neozelandesas para checar se tenho mais chance com a Nova Zelândia devido à minha idade.</p>
          </div>

          <div class="context-text">
            <p>Se o <i>immigrant advisor</i> confirmar que terei chance, então antes da viagem, devo comprar duas malas grandes, uma para guardar as roupas e os acessórios para cuidados da higiene pessoal, outra para guardar as peças e os componentes do computador sem trazer o gabinete que não caberia na mala. Não posso levar os remédios. Quando eu estiver na Nova Zelândia, tenho de consultar um gastroenterologista e um oftalmologista para obter as alternativas disponíveis à domperidona e ao maleato de timolol.</p>
          </div>

          <div class="context-text">
            <p>Finalmente devo solicitar um passaporte brasileiro, custando 260 reais. Além disso, a passagem de avião de São Paulo para Auckland é absurdamente cara, mas depende do calendário e do avião.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="pre-travel">
                <caption>Pré-viagem</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (BRL)</th>
                    <th>CAD</th>
                    <th>NZD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_pre_travel %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.nzd_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_pre_travel_total_brl }}</td>
                    <td>{{ nz_pre_travel_total_cad }}</td>
                    <td>{{ nz_pre_travel_total_nzd }}</td>
                    <td>{{ nz_pre_travel_total_usd }}</td>
                    <td>{{ nz_pre_travel_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Pagamento temporário e único</h2>

          <div class="context-text">
            <p>Se eu alugar um apartamento não mobiliado, incluirei a tabela de compras de eletrodomésticos e móveis. Os preços da lista de eletrodomésticos e de móveis são obtidos dos <i>sites</i> <a href="https://www.harveynorman.co.nz/">Harvey Norman</a>, <a href="https://www.targetfurniture.co.nz/">Target Furniture</a>, <a href="https://www.thewarehouse.co.nz/">The Warehouse</a> e <a href="https://www.trademe.co.nz/">Trade Me</a>. </p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="shopping">
                <caption>Compras</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_shopping %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.brl_price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_shopping_total_nzd }}</td>
                    <td>{{ nz_shopping_total_brl }}</td>
                    <td>{{ nz_shopping_total_cad }}</td>
                    <td>{{ nz_shopping_total_usd }}</td>
                    <td>{{ nz_shopping_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="context-text">
            <p>Como o gabinete não caberá na mala e não posso trazer um monitor, terei de desmontá-lo para levar os componentes e as peças de computador na mala, e lá na Nova Zelândia, terei de comprar uma cadeira e uma mesa de escritório, um monitor e um gabinete. Os preços da lista de escritório foram obtidos de <a href="https://www.legendpc.co.nz/">Legend PC</a> e <a href="https://www.pbtech.co.nz/stores/">PB Tech</a>.</p>
          </div>
          
          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="office">
                <caption>Escritório</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_office %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.brl_price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_office_total_nzd }}</td>
                    <td>{{ nz_office_total_brl }}</td>
                    <td>{{ nz_office_total_cad }}</td>
                    <td>{{ nz_office_total_usd }}</td>
                    <td>{{ nz_office_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="context-text">
            <p>Devo comprar produtos de limpeza para o apartamento no supermercado, e essa compra é temporária e única. Devo comprá-los quando uns produtos de limpeza acabarem. Os preços da lista de supermercado foram obtidos de <a href="https://shop.countdown.co.nz/">CountDown</a>, <a href="https://www.newworld.co.nz/shop/">New World</a> e <a href="https://www.thewarehouse.co.nz/">The Warehouse</a></p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="supermarket">
                <caption>Supermercado</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_supermarket %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.brl_price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_supermarket_total_nzd }}</td>
                    <td>{{ nz_supermarket_total_brl }}</td>
                    <td>{{ nz_supermarket_total_cad }}</td>
                    <td>{{ nz_supermarket_total_usd }}</td>
                    <td>{{ nz_supermarket_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Pagamento mensal</h2>

          <div class="context-text">
            <p>As contas de água e luz são semanais, a de internet é mensal. Na tabela, o preço será mensal. A água mineral e o gás são mais baratos, mas você pode optar pelo <i>cooktop</i> elétrico de indução que não precisará mais de gás.</p>
          </div>

          <div class="context-text">
            <p>O pagamento de aluguel é semanal. É mais caro que o aluguel no Brasil. Depende da casa ou do apartamento e da cidade. Um apartamento mobiliado ou não mobiliado Custa semanalmente entre 300 e 500 dólares neozelandeses. Se eu quiser ter uma condição miníma de pagá-lo, opto por um apartamento mobiliado com um quarto dentre 300 e 400 dólares neozelandeses semanais. Mensalmente, totalmente entre 1200 e 1600 neozelandeses. Você pode visitar o <i>site</i> de aluguéis: <a href="https://www.realestate.co.nz/">Real Estate</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="bills">
                <caption>Contas mensais</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_bill %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.brl_price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_bill_total_nzd }}</td>
                    <td>{{ nz_bill_total_brl }}</td>
                    <td>{{ nz_bill_total_cad }}</td>
                    <td>{{ nz_bill_total_usd }}</td>
                    <td>{{ nz_bill_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div class="context-text">
            <p>Os preços da lista de comida são obtidos do supermercado <a href="https://www.newworld.co.nz/shop/">New World</a> e de <a href="https://shop.countdown.co.nz/">CountDown</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="food">
                <caption>Comida</caption>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in nz_food %}
                    <tr>
                      <td>{{ object.item }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.brl_price }}</td>
                      <td>{{ object.cad_price }}</td>
                      <td>{{ object.usd_price }}</td>
                      <td>{{ object.uyu_price }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td>Total</td>
                    <td>{{ nz_food_total_nzd }}</td>
                    <td>{{ nz_food_total_brl }}</td>
                    <td>{{ nz_food_total_cad }}</td>
                    <td>{{ nz_food_total_usd }}</td>
                    <td>{{ nz_food_total_uyu }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Totalização</h2>

          <div class="context-text">
            <p>A finalizar, devo guardar na penúltima linha sem móveis ou na última linha com móveis:</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">

              <table class="totalisation">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>NZD</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Bills</td>
                      <td>{{ nz_bill_total_nzd }}</td>
                      <td>{{ nz_bill_total_brl }}</td>
                      <td>{{ nz_bill_total_cad }}</td>
                      <td>{{ nz_bill_total_usd }}</td>
                      <td>{{ nz_bill_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Food</td>
                      <td>{{ nz_food_total_nzd }}</td>
                      <td>{{ nz_food_total_brl }}</td>
                      <td>{{ nz_food_total_cad }}</td>
                      <td>{{ nz_food_total_usd }}</td>
                      <td>{{ nz_food_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Shopping</td>
                      <td>{{ nz_shopping_total_nzd }}</td>
                      <td>{{ nz_shopping_total_brl }}</td>
                      <td>{{ nz_shopping_total_cad }}</td>
                      <td>{{ nz_shopping_total_usd }}</td>
                      <td>{{ nz_shopping_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Supermarket</td>
                      <td>{{ nz_supermarket_total_nzd }}</td>
                      <td>{{ nz_supermarket_total_brl }}</td>
                      <td>{{ nz_supermarket_total_cad }}</td>
                      <td>{{ nz_supermarket_total_usd }}</td>
                      <td>{{ nz_supermarket_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Total – Non-furnished</td>
                      <td>{{ nz_total_nzd }}</td>
                      <td>{{ nz_total_brl }}</td>
                      <td>{{ nz_total_cad }}</td>
                      <td>{{ nz_total_usd }}</td>
                      <td>{{ nz_total_uyu }}</td>
                    </tr>
                    <tr>
                      <td>Total – Furnished</td>
                      <td>{{ nz_total_furnished_nzd }}</td>
                      <td>{{ nz_total_furnished_brl }}</td>
                      <td>{{ nz_total_furnished_cad }}</td>
                      <td>{{ nz_total_furnished_usd }}</td>
                      <td>{{ nz_total_furnished_uyu }}</td>
                    </tr>
                </tbody>
              </table>

            </div>
          </div>

          <h2>Comparação de totalização mensal e salário minímo</h2>

          <div class="context-text">
            <p>Incluirei apenas as tabelas de contas, comida e aluguel. Não incluirei as tabelas de compras e supermercado (exceto a comida e alguns produtos de higiene e limpeza) por não serem mensais. Compararei o preço total mensal de totalização com um salário minímo mensal geral decretado pelas autoridades neozelandesas, e com um salário médio mensal de um desenvolvedor, e veja quanto sobra.</p>
          </div>

          <div class="context-text">
            <p>O aluguel de um apartamento mobiliado ou não é semanal. O preço semanal de ambos os apartamentos mobiliado e não mobiliado é entre 300 e 400 dólares neozelandeses. Agora mensalmente {{ nz_minimum_month_rent }} e {{ nz_maximum_month_rent }} dólares neozelandeses.</p>
          </div>

          <div class="context-text">
            <p>Se eu quiser viver no bairro de Ponsorby, um subúrbio no centro da cidade de Auckland ou na Karangahape Road (se houver um aluguel disponível), o preço semanal é entre 440 e 550 dólares neozelandeses.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              
              <table class="nz-adult-month-minimum">
                <caption>Salário de um adulto <br><small>Aluguel geral minímo</small></caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Totalização mensal</td>
                    <td>{{ nz_monthly_totalisation_nzd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Aluguel</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Salário</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Sobro</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_brl | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_cad | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_usd | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_uyu | floatformat:"0" | intcomma }} </td>
                  </tr>
                </tbody>
              </table>
              
              <table class="nz-adult-month-maximum">
                <caption>Salário de um adulto <br><small>Aluguel geral máximo</small></caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Totalização mensal</td>
                    <td>{{ nz_monthly_totalisation_nzd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Aluguel</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Salário</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Sobro</td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_brl | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_cad | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_usd | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_adult_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_uyu | floatformat:"0" | intcomma }} </td>
                  </tr>
                </tbody>
              </table>
              
              <table class="nz-trainee-month-minimum">
                <caption>Salário de um estagiário <br><small>Aluguel geral minímo</small></caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Totalização mensal</td>
                    <td>{{ nz_monthly_totalisation_nzd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Aluguel</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_minimum_week_rent | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Salário</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Sobro</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_brl | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_cad | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_usd | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_minimum_month_rent | mul:nzd_to_uyu | floatformat:"0" | intcomma }} </td>
                  </tr>
                </tbody>
              </table>
              
              <table class="nz-trainee-month-maximum">
                <caption>Salário de um estagiário <br><small>Aluguel geral máximo</small></caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Price (NZD)</th>
                    <th>BRL</th>
                    <th>CAD</th>
                    <th>USD</th>
                    <th>UYU</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Totalização mensal</td>
                    <td>{{ nz_monthly_totalisation_nzd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_monthly_totalisation_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Aluguel</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_maximum_week_rent | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Salário</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_brl | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_cad | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_usd | floatformat:"0" | intcomma }}</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | mul:nzd_to_uyu | floatformat:"0" | intcomma }}</td>
                  </tr>
                  <tr>
                    <td>Sobro</td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_brl | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_cad | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_usd | floatformat:"0" | intcomma }} </td>
                    <td>{{ nz_trainee_hour | mul:40 | mul:5 | sub:nz_monthly_totalisation_nzd | sub:nz_maximum_month_rent | mul:nzd_to_uyu | floatformat:"0" | intcomma }} </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>

        <input name="__tabbed_1" type="radio" id="__tabbed_1_3">
        <label for="__tabbed_1_3">Uruguai</label>
        <div class="tabbed-content">

          <div class="context-text">
            <p>Se o <i>immigration advisor</i> da Nova Zelândia disser que eu não terei nenhuma chance de residir na Nova Zelândia, irei para o Uruguai.</p>
          </div>
          
          <div class="context-text" id="minimum-wage-uruguay">
            <p>Primeiramente, segundo o <a href="https://www.presidencia.gub.uy//comunicacion/comunicacionnoticias/mieres-salario-minimo">portal do governo uruguaio</a>, em [[ uy_date ]], um trabalhador comum ganha mensalmente [[ uy_minimum ]] pesos uruguaios. Por ano, [[ uy_year ]] pesos uruguaios.</p>
          </div>

          <div class="context-text">
            <p>Quanto ao salário de um desenvolvedor, depende da empresa e da cidade, segundo a <a href="https://www.reddit.com/r/uruguay/comments/9gjol5/programadordesarrollador_cu%C3%A1nto_ganas/">discussão do <i>subreddit</i> /r/uruguay</a>, um salário mensal com entre 7,8 e 9 horas por dia varia dentre 7, 8, 13 e 30 mil pesos uruguaios.</p>
          </div>

          <div class="advantages-and-disadvantages">
            <div class="advantages">
              <div class="context-h3-intertitle">
                <h3>Vantagens</h3>
              </div>
              <ul>
                <li>Uruguai é um dos países com menor percentual de corrupção no governo.</li>
                <li>Tem menos chance de desastres naturais.</li>
                <li>É um país mais colaborativo com as medidas necessárias e preventivas de COVID-19 e das próximas pandemias.</li>
                <li>É um país mais sério em relação às ciências, à medicina e à saúde, e que valoriza mais os trabalhadores de hospital.</li>
                <li>É um dos países mais <i>gay-friendly</i>.</li>
                <li>Como Brasil e Uruguai fazem parte do Mercosul, os brasileiros têm mais facilidade e vantagem de conseguir um processo rápido de residência permanente e de cidadania uruguaia.</li>
              </ul>
            </div>
            <div class="disadvantages">
              <h3>Desvantagens</h3>
              <ul>
                <li>Possui um custo de vida mais alto que os no Brasil, assim como a Nova Zelândia.</li>
                <li>No Uruguai, timtolol de maleato é mais caro que no Brasil.</li>
                <li>As contas de água e luz são mais caras que as no Brasil e na Nova Zelândia.</li>
              </ul>
            </div>
          </div>

          <h2>Pré-viagem</h2>

          <div class="context-text">
            <p>AInda não consegui localizar um <i>immigration advisor</i>. Antes da pré-viagem, primeiramente devo consultar um <i>immigrant advisor</i> brasileiro ou uruguaio e licenciado pelas autoridades uruguaias para checar se tenho mais chance com o Uruguai.</p>
          </div>

          <div class="context-text">
            <p>Assim que o <i>immigrant advisor</i> confirmar, então antes da viagem, devo comprar duas malas grandes, uma para guardar as roupas e os acessórios para cuidados da higiene pessoal, outra para guardar as peças e os componentes do computador sem trazer o gabinete que não caberia na mala. Não posso levar os remédios.</p>
          </div>

          <div class="context-text">
            <p>Não precisarei de cidadania portuguesa, porque brasileiros não precisam de visto para Uruguai. Finalmente devo solicitar um passaporte brasileiro. Além disso, a passagem de avião de São Paulo para Montevidéu é mais barata que a de São Paulo para Auckland.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_pre_travel | safe }} {% endcomment %}
            </div>
          </div>

          <h2>Pagamento temporário e único</h2>

          <div class="context-text">
            <p>Se eu alugar um apartamento não mobiliado, incluirei a tabela de compras de eletrodomésticos e móveis. Os preços da lista de eletrodomésticos e de móveis são obtidos do site <a href="https://mercadolibre.com.uy">Mercado Libre Uruguay</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_shopping | safe }} {% endcomment %}
            </div>
          </div>  

          <div class="context-text">
            <p>Como o gabinete não caberá na mala e não posso trazer um monitor, terei de desmontá-lo para levar os componentes e as peças de computador na mala. No Uruguai, terei de comprar uma cadeira e uma mesa de escritório, um monitor e um gabinete. Os preços da lista de escritório foram obtidos do <i>site</i> <a href="https://mercadolibre.com.uy">Mercado Libre Uruguay</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_office | safe }} {% endcomment %}
            </div>
          </div>    

          <div class="context-text">
            <p>Também preciso comprar produtos de limpeza no supermercado. Esta compra é temporária e única. Devo comprá-los quando uns produtos de limpeza acabarem. Os preços da lista de supermercado foram obtidos dos <i>sites</i> do <a href="https://www.disco.com.uy/">supermercado Disco</a> e do <a href="https://mercadolibre.com.uy">Mercado Libre Uruguay</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_supermarket | safe }} {% endcomment %}
            </div>
          </div>

          <h2>Pagamento mensal</h2>

          <div class="context-text">
            <p>As contas de água, internet e luz são mensais, a de internet é mensal. Na tabela, o preço será mensal. Optarei pelo <i>cooktop</i> elétrico de indução, não incluirei o gás na tabela</p>
          </div>

          <div class="context-text">
            <p>O pagamento de aluguel no Uruguai é mensal e menos caro que o na Nova Zelândia, mas mais caro que o no Brasil. Depende da casa ou do apartamento e da cidade. A média de pagamento mensal de aluguel no Uruguai é 14 mil pesos uruguaios. O pagamento é feito em dólar americano ou em peso uruguaio. Varia dentre 9 e 15 mil pesos uruguaios, e dentre 50 e 80 dólares americanos. Opto por um apartamento mobiliado comum dormitório, na cidade de Piriápolis, custando 80 dólares americanos.</p>
          </div>

          <div class="context-text">
            <p>O preço de água mineral foi obtido dos <i>sites</i> <a href="https://www.aquaa.com.uy/">Aquaa</a> e <a href="https://www.elaljibe.com.uy/">El Aljibe</a>. O de internet foi obtido do <i>site</i> <a href="https://tienda.antel.com.uy/">Antel</a>. O de luz foi obtido do portal do <i>site</i> <a href="https://www.ute.com.uy/">UTE</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_bills | safe }} {% endcomment %}
            </div>
          </div>

          <div class="context-text">
            <p>Os meus três remédios estão disponível no Uruguai, mas infelizmente, são três vezes mais caros que no Brasil. Os preços foram obtidos dos sites das farmácias <a href="https://tienda.farmashop.com.uy/">Farmashop</a> e <a href="https://pulpi.com.uy/">Pulpi</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_medicaments | safe }} {% endcomment %}
            </div>
          </div>

          <div class="context-text">
            <p>Os preços de lista de comida foram obtidos do <i>site</i> do <a href="https://www.disco.com.uy/">supermercado Disco</a>.</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_food | safe }} {% endcomment %}
            </div>
          </div>

          <h2>Totalização</h2>

          <div class="context-text">
            <p>A finalizar, devo guardar na última linha:</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_totalisation | safe }} {% endcomment %}
            </div>
          </div>

          <h2>Comparação de totalização mensal e salário minímo</h2>

          <div class="context-text">
            <p>Incluirei apenas as tabelas de contas, comida e aluguel. Compararei o preço total mensal de totalização com um salário minímo mensal geral decretado pelas autoridades uruguaias, e com um salário mensal de um desenvolvedor, e veja quanto sobra:</p>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_comparison_minimum_wage | safe }} {% endcomment %}
            </div>
          </div>

          <div class="razor-vertical-edge">
            <div class="table" style="overflow-x: auto;">
              {% comment %} {{ uy_comparison_minimum_wage_developer | safe }} {% endcomment %}
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block vue %}

{% endblock %}