{% extends '../base.html' %}

{% block content %}
  <h1>Gustavo Costa</h1>
  <p>Um freelancer multidisciplinar surdo, multilíngue e especializado em desenvolvimento full-stack, design gráfico, ciência de computação e de dados e em tradução.</p>

  <div class="card-gallery">
    <div class="card">
      <img alt="sample" class="sample">
      <h2>Take your design</h2>
      <p>Pellentesque egestas tristique volutpat massa hac, sapien praesent duis dui varius quisque nisl dolor diam primis blandit massa, est rutrum laoreet suspendisse commodo, vel nibh!</p>
      <a class="cyberpunk2077">ver mais_</a>
    </div>
    <div class="card">
      <img alt="sample" class="sample">
      <h2>Take your design</h2>
      <p>Pellentesque egestas tristique volutpat massa hac, sapien praesent duis dui varius quisque nisl dolor diam primis blandit massa, est rutrum laoreet suspendisse commodo, vel nibh!</p>
      <a class="cyberpunk2077">ver mais_</a>
    </div>
    <div class="card">
      <img alt="sample" class="sample">
      <h2>Take your design</h2>
      <p>Pellentesque egestas tristique volutpat massa hac, sapien praesent duis dui varius quisque nisl dolor diam primis blandit massa, est rutrum laoreet suspendisse commodo, vel nibh!</p>
      <a class="cyberpunk2077">ver mais_</a>
    </div>
    <div class="card">
      <img alt="sample" class="sample">
      <h2>Take your design</h2>
      <p>Pellentesque egestas tristique volutpat massa hac, sapien praesent duis dui varius quisque nisl dolor diam primis blandit massa, est rutrum laoreet suspendisse commodo, vel nibh!</p>
      <a class="cyberpunk2077">ver mais_</a>
    </div>
  </div>
{% endblock %}