{% extends '../base.html' %}

{% block content %}
{% load static %}

<section class="border-before-footer">
  <div class="container">

    <h1 class="cyberpunk">{% firstof title context.title %}</h1>

    <p>Há duas décadas trabalhei com ambas as profissões de design gráfico e <i>web design</i>. No mundo de design gráfico, realizei vários trabalhos diferentes como <i>banners</i>, cartazes, cartões de visita e logógtipos. No mundo de web designer, em 2010, no qual mergulhei por meio dos Jogos Olímpicos de Inverno de 2010 em Vacnouver, que me inspirou a explorar a arte de internet. Neste portefólio, apresento-lhe meus trabalhos de alta qualidade que possam chamar a atenção.</p>

    <p>Escolha uma das categorias para filtrar e mostrar só algumas imagens.</p>
    
    <div class="button-group filters-button-group">
      <button class="button active" data-filter="*">Tudo</button>
      <button class="button"        data-filter=".banners">Banners</button>
      <button class="button"        data-filter=".posters">Cartazes</button>
      <button class="button"        data-filter=".cards">Cartões de visita</button>
      <button class="button"        data-filter=".logotypes">Logótipos</button>
      <button class="button"        data-filter=".websites">Websites</button>
    </div>

    <div class="grid effect-2">
      <div class="grid-sizer"></div>
      {% for index, banner in banners %}
        <figure class="grid-item banners">
          <img alt="{{ banner.Name }}" src="/static/images/portfolio/{{ banner.Image }}"/>
          <figcaption>
            <p>{{ banner.Name }}</p>
            <label class="btn" for="banner-{{ index }}">Mais detalhes</label>
          </figcaption>
        </figure>
      {% endfor %}

      {% for index, card in cards %}
        <figure class="grid-item cards">
          <img alt="{{ card.Name }}" src="/static/images/portfolio/{{ card.Image }}"/>
          <figcaption>
            <p>{{ card.Name }}</p>
            <label class="btn" for="card-{{ index }}">Mais detalhes</label>
          </figcaption>
        </figure>
      {% endfor %}

      {% for index, logotype in logotypes %}
        <figure class="grid-item logotypes">
          <img alt="{{ logotype.Name }}" src="/static/images/portfolio/{{ logotype.Image }}"/>
          <figcaption>
            <p>{{ logotype.Name }}</p>
            <label class="btn" for="logotype-{{ index }}">Mais detalhes</label>
          </figcaption>
        </figure>
      {% endfor %}

      {% for index, poster in posters %}
        <figure class="grid-item posters">
          <img alt="{{ poster.Name }}" src="/static/images/portfolio/{{ poster.Image }}"/>
          <figcaption>
            <p>{{ poster.Name }}</p>
            <label class="btn" for="poster-{{ index }}">Mais detalhes</label>
          </figcaption>
        </figure>
      {% endfor %}

      {% for index, website in websites %}
        <figure class="grid-item websites">
          <img alt="{{ website.Name }}" src="/static/images/portfolio/{{ website.Image }}"/>
          <figcaption>
            <p>{{ website.Name }}</p>
            <label class="btn" for="website-{{ index }}">Mais detalhes</label>
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>

{% for index, banner in banners %}
<input class="modal-state" id="banner-{{ index }}" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="banner-{{ index }}"></label>
  <div class="modal__inner">
    <label class="modal__close" for="banner-{{ index }}"></label>
    <h2>{{ banner.Name }}</h2>
    <p>
      <img alt="{{ banner.Name }}" src="/static/images/portfolio/{{ banner.Image }}"/> 
      {{ banner.Description | safe }}.
    </p>
  </div>
</div>
{% endfor %}

{% for index, card in cards %}
<input class="modal-state" id="card-{{ index }}" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="card-{{ index }}"></label>
  <div class="modal__inner">
    <label class="modal__close" for="card-{{ index }}"></label>
    <h2>{{ card.Name }}</h2>
    <p>
      <img alt="{{ card.Name }}" src="/static/images/portfolio/{{ card.Image }}"/> 
      {{ card.Description | safe }}.
    </p>
  </div>
</div>
{% endfor %}

{% for index, logotype in logotypes %}
<input class="modal-state" id="logotype-{{ index }}" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="logotype-{{ index }}"></label>
  <div class="modal__inner">
    <label class="modal__close" for="logotype-{{ index }}"></label>
    <h2>{{ logotype.Name }}</h2>
    <p>
      <img alt="{{ logotype.Name }}" src="/static/images/portfolio/{{ logotype.Image }}"/> 
      {{ logotype.Description | safe }}.
    </p>
  </div>
</div>
{% endfor %}

{% for index, poster in posters %}
<input class="modal-state" id="poster-{{ index }}" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="poster-{{ index }}"></label>
  <div class="modal__inner">
    <label class="modal__close" for="poster-{{ index }}"></label>
    <h2>{{ poster.Name }}</h2>
    <p>
      <img alt="{{ poster.Name }}" src="/static/images/portfolio/{{ poster.Image }}"/> 
      {{ poster.Description | safe }}.
    </p>
  </div>
</div>
{% endfor %}

{% for index, website in websites %}
<input class="modal-state" id="website-{{ index }}" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="website-{{ index }}"></label>
  <div class="modal__inner websites">
    <label class="modal__close" for="website-{{ index }}"></label>
    <h2>{{ website.Name }}</h2>
      {{ website.Description | safe }}
      <div class="carousel" data-flickity='{ "lazyLoad": true, "imagesLoaded": true, "percentPosition": false }'>
        {% for image in website.Carousel %}
        <div class="carousel-cell">
          <a href="/static/images/portfolio/websites/{{ image }}" target="_blank"><img alt="{{ website.Name }}" class="carousel-cell-image" data-flickity-lazyload="/static/images/portfolio/websites/{{ image }}" /></a>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endfor %}

</section>

{% endblock %}