{% extends '../base.html' %}

{% block content %}
{% load static %}

<section class="border-before-footer">
  <div class="container">

    <h1 class="cyberpunk">{% firstof title context.title %}</h1>

    <p>Há duas décadas trabalhei com ambas as profissões de design gráfico e <i>web design</i>. No mundo de design gráfico, realizei vários trabalhos diferentes como <i>banners</i>, cartazes, cartões de visita e logógtipos. No mundo de web designer, em 2010, no qual mergulhei por meio dos Jogos Olímpicos de Inverno de 2010 em Vacnouver, que me inspirou a explorar a arte de internet. Neste portefólio, apresento-lhe meus trabalhos de alta qualidade que possam chamar a atenção.</p>

    <p>Escolha uma das categorias para filtrar e mostrar só algumas imagens.</p>
    
    <div class="button-group filters-button-group">
      <button class="button active" data-filter="*">Tudo</button>
      <button class="button"        data-filter=".banners">Banners</button>
      <button class="button"        data-filter=".posters">Cartazes</button>
      <button class="button"        data-filter=".cards">Cartões de visita</button>
      <button class="button"        data-filter=".logotypes">Logótipos</button>
    </div>

    <div class="grid effect-2" id="grid">
      <div class="grid-item banners"></div>
      <div class="grid-item banners"></div>
      <div class="grid-item banners"></div>
      <div class="grid-item banners"></div>
      <div class="grid-item posters"></div>
      <div class="grid-item posters"></div>
      <div class="grid-item posters"></div>
      <div class="grid-item posters"></div>
      <div class="grid-item cards"></div>
      <div class="grid-item cards"></div>
      <div class="grid-item cards"></div>
      <div class="grid-item cards"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item logotypes"></div>
      <div class="grid-item cards"></div>
      <div class="grid-item banners"></div>
      <div class="grid-item cards"></div>
    </div>

  </div>
</section>

{% endblock %}