dj-database-url
Django
# django-chartjs
django-dbbackup
django-extensions
django-heroku
django-smuggler
django-sslserver
# django-tidy
djangorestframework
forex-python
gunicorn
# ipychart
pandas
# psycopg2
psycopg2-binary
pymdown-extensions
python-decouple
pytz
whitenoise
# xlrd
