<nav role='navigation'>
  <div id="brand">Brand</div>
  <ul>
    <li><a href="#0">Blog</a></li>
    <li><a href="#0">COVID-19</a></li>
    <li>
      <a href="#0">Currículos +</a>
      <ul id="dropdown">
        <li><a href="#0">Currículo completo</a></li>
        <li><a href="#0">Lattes</a></li>
      </ul>
    </li>
    <li>
      <a href="#0">Trabalhos +</a>
      <ul id="dropdown">
        <li><a href="#0">Portefólio</a></li>
        <li><a href="#0">Projetos</a></li>
        <li><a href="#0">Publicações Acadêmicas</a></li>
      </ul>
    </li>
    <li><a href="#0">Biografia</a></li>
    <li><a href="#0">Sobre</a></li>
    <li><a href="#0">Contato</a></li>
  </ul>
</nav>