:root
{
  --indigo-default:    rgba(54, 14, 96, 1);
  --indigo-dark:       rgba(36, 10, 64, 1);
  --indigo-medium:     rgba(72, 19, 128, 1);
  --indigo-light:      rgba(115, 30, 204, 1);

  --pink-default:      rgba(164, 62, 110, 1);
  --pink-dark:         rgba(110, 42, 74, 1);
  --pink-medium:       rgba(219, 83, 147, 1);
  --pink-light:        rgba(226, 117, 169, 1);

  --cyan-default:      rgba(77, 192, 246, 1);
  --cyan-dark:         rgba(19, 48, 62, 1);
  --cyan-medium:       rgba(58, 144, 185, 1);
  --cyan-light:        rgba(113, 205, 248, 1);

  --cyan-grey-default: rgba(198, 216, 217, 1);
  --cyan-grey-dark:    rgba(49, 54, 54, 1);
  --cyan-grey-medium:  rgba(99, 108, 109, 1);
  --cyan-grey-light:   rgba(221, 232, 232, 1);
}