section
{
  padding: 5em 5em 10em 5em;
}

h1, h1 + p
{
  margin-bottom: 5rem;
  margin-top: 1rem;
}

h2, h3
{
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2 ~ p span
{
  background: var(--pink-dark);
  border-radius: 2px;
  padding: 5px;
  margin-left: 5px;
}

h3
{
  color: var(--cyan-medium);
}

canvas
{
  height: 100px;
  width: 100%;
}

canvas ~ p
{
  font-size: 0.9em;
  line-height: 1.5em;
}

canvas ~ p small
{
  display: block;
}

p
{
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

hr
{
  background-color: var(--pink-medium);
  border: 0px;
  outline: 0px;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

hr ~ h2
{
  margin-top: 5rem;
}

hr:last-child
{
  display: none;
}

.labels
{
  display: block;
  padding-bottom: 3em;
}

.labels li
{
  float: left;
  list-style: none;
  line-height: normal;
}

.circle
{
  border-radius: 50%;
  display: block;
  float: left;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.circle.high
{
  background-color: var(--red-light);
  margin-left: 0px;
}

.circle.stability
{
  background-color: var(--yellow-light);
}

.circle.fall
{
  background-color: var(--green-light);
}

.hoje
{
  border: 1px solid var(--cyan-grey-medium);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  float: none;
  clear: both;
  margin-bottom: 3em;
}

.hoje .item
{
  border: 1px solid var(--cyan-grey-medium);
  padding: 10px;
}

.hoje .item h3
{
  margin: 0px;
}

.hoje .item [class^="item-"]
{
  background-color: var(--cyan-grey-light);
  border-radius: 5px;
  color: var(--cyan-grey-dark);
  display: inline-block;
  font-size: 1em;
  height: 35px;
  text-align: center;
  width: 50px;
  padding: 5px;
}

.hoje .item [class^="item-"].high
{
  background-color: var(--red-light);
}

.hoje .item [class^="item-"].stability
{
  background-color: var(--yellow-light);
}

.hoje .item [class^="item-"].fall
{
  background-color: var(--green-light);
}

.age-and-gender
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

/* Widescreen 1280 */
@media only screen and (max-width: 1280px)
{

}

@media only screen and (max-width: 1024px)
{
  section
  {
    background-color: var(--indigo-dark);
  }
}

@media only screen and (max-width: 990px)
{
  h2 ~ p span
  {
    line-height: 2.5em;
  }
}

@media only screen and (max-width: 800px)
{
  section
  {
    padding: 3em 3em 6em 3em;
  }

  .grid
  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media only screen and (max-width: 780px)
{
  .hoje
  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 640px)
{

}

@media only screen and (max-width: 540px)
{
  section
  {
    padding: 1em 1em 6em 1em;
  }

  h1.cyberpunk
  {
    font-size: 1.8em;
    line-height: 1.4em;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }

  .hoje
  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }

  .age-and-gender
  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 428px)
{
  
}

/* Xiaomi Redmi Note 7 – Portrato */
@media only screen and (max-width: 395px)
{
  h1.cyberpunk
  {
    font-size: 1.65em;
  }
}

@media only screen and (max-width: 384px)
{
  
}

@media only screen and (max-width: 375px)
{
  
}

@media only screen and (max-width: 320px)
{

}

@media only screen and (max-width: 280px)
{
  
}

@media only screen and (max-width: 240px)
{
  
}


