<!DOCTYPE html>
<html lang="pt-BR">
<head>

  {% load static %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/colours.css' %}">
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

  {% if request.path == '/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  {% elif request.path == '/aparecida-covid-19-tracker/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/covid-19.css' %}">
  {% elif request.path == '/expense/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/expense.css' %}">
  {% elif request.path == '/financial-planning/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/financial-planning.css' %}">
  {% elif request.path == '/portfolio/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/flickity.css' %}">
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
  {% elif request.path == '/projects/' %}
    <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
  {% else %}
    {% comment %} nothing to comment {% endcomment %}
  {% endif %}

  <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gustavo Costa – {% firstof title context.title %}</title>
</head>
  <body>
    {% include "navbar.html" %}
    <div class="navbar-fixed"></div>

    {% block content %}
    {% endblock %}

    {% block section %}
    {% endblock %}

    {% include "footer.html" %}
      <script src="{% static 'js/global.js' %}"></script>
    {% if request.path == '/portfolio/' %}
      <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/flickity.pkgd.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>
    {% elif request.path == '/aparecida-covid-19-tracker/' %}
      <script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lodash.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/chart.js' %}" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" src="{% static 'js/date_fns.min.js' %}" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" src="{% static 'js/chartjs-adapter-date-fns.bundle.min.js' %}" referrerpolicy="no-referrer"></script>
      {% block covid_19 %} {% endblock %}
      <script type="text/javascript" src="{% static 'js/covid-19.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/covid-19-cases-ages-and-gender.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/covid-19-deaths-ages-and-gender.js' %}"></script>
    {% elif request.path == '/financial-planning/' %}
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="{% static 'js/financial-planning.js' %}"></script>
      {% block vue %} {% endblock %}
    {% else %}
    {% comment %} nothing {% endcomment %}
    {% endif %}

    {% block scripts %} {% endblock %}
  </body>
</html>