<!DOCTYPE html>
<html lang="pt-BR">
<head>

  {% load static %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/colours.css' %}">
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  {% if request.path == '/' %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  {% elif request.path == '/portfolio/' %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/flickity.css' %}">
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
  {% elif request.path == '/projects/' %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
  {% else %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% endif %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gustavo Costa – {% firstof title context.title %}</title>
</head>
  <body>
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}

    {% block section %}
    {% endblock %}

    {% include "footer.html" %}
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    {% if request.path == '/portfolio/' %}
    <script type="text/javascript" src="{% static 'js/alpine.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>
    {% else %}
    {% comment %} nothing {% endcomment %}
    {% endif %}
  </body>
</html>