<!DOCTYPE html>
<html lang="pt-BR">
<head>

  {% load static %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/colours.css' %}">
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  {% if request.path == '/' %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  {% else %}
  <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% endif %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gustavo Costa – {{ title }}</title>
</head>
<body>
{% include "navbar.html" %}

{% comment %} <div class="container"> {% endcomment %}
  {% block content %}
  {% endblock %}
{% comment %} </div> {% endcomment %}

  {% block section %}
  {% endblock %}
  
</body>
</html>