{% load static %}
<footer>
  <div class="container">
    <img alt="logotype" class="glitch" data-text="GLITCH" src="{% static 'images/logotypes/logotype_vertical_pt.svg' %}">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a>Sobre</a></li>
      <li><a>Contato</a></li>
      <li><a>Blog</a></li>
      <li><a href="/projects/">Projetos</a></li>
      <li><a href="/portfolio/">Portefólio</a></li>
      <li><a>Currículo Tradicional</a></li>
      <li><a>Lattes</a></li>
      <li><a>Publicações Acadêmicas</a></li>
      <li><a>Biografia</a></li>
    </ul>
  </div>
</footer>

<div class="credits">
  <div class="container">
    <p>© 2021 Gustavo Costa. Todos os direitos reservados.</p>
    <p>Licença Privacidade Colofão</p>
    <p>Distribuído por Django.</p>
    <p>Tema cyberpunk e futurista criado por mim, inspirado no trabalho de <a href="https://codepen.io/gwannon">Jorge Monclús</a>.</p>
    <p>Feito com <span role="img" aria-label="coração">❤</span> e <span role="img" aria-label="chá">🍵</span> com <span role="img" aria-label="banana">🍌</span> e <span role="img" aria-label="morango">🍓</span> no <span role="img" aria-label="Brasil">🇧🇷</span>. :-)</p>
  </div>
</div>