{% load static %}
<header class="navbar">
    <div class="container">
        <a href="/"><div class="logotype" title="Logotype"></div></a>
        <button aria-controls="off-canvas-menu" class="hamburger">Menu</button>
    </div>
</header>

<nav id="off-canvas-menu" class="off-canvas" aria-expanded="false">
    <ul class="menu">
        <li class="menu-item"><a class="menu-link" href="/">Início</a></li>
        <li class="menu-item"><a class="menu-link" href="#0">Blog</a></li>
        <li class="menu-item"><a class="menu-link" href="#0">COVID-19</a></li>

        <li class="menu-item borderless">
            <button aria-controls="curriculum-sub-menu" aria-expanded="false" class="menu-link" href="#0">Currículo</button>
            <ul id="curriculum-sub-menu" class="sub-menu">
                <li class="menu-item"><a class="menu-link" href="#0">Currículo tradicional</a></li>
                <li class="menu-item"><a class="menu-link" href="#0">Lattes</a></li>
            </ul>
        </li>

        <li class="menu-item borderless">
            <button aria-controls="works-sub-menu" aria-expanded="false" class="menu-link">Trabalhos</button>
            <ul id="works-sub-menu" class="sub-menu">
                <li class="menu-item"><a class="menu-link" href="#0">Portefólio</a></li>
                <li class="menu-item list-5-item-2"><a class="menu-link" href="#0">Projetos</a></li>
                <li class="menu-item"><a class="menu-link" href="#0">Publicações Acadêmicas</a></li>
            </ul>
        </li>

        <li class="menu-item"><a class="menu-link" href="#0">Biografia</a></li>
        <li class="menu-item"><a class="menu-link" href="#0">Sobre</a></li>
        <li class="menu-item"><a class="menu-link" href="#0">Contato</a></li>
    </ul>
</nav>