<nav>
  <div class="container">
    {% load static %}
    <img alt="" class="logotype" src="{% static 'images/logotype_pt.svg' %%}">
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/aparecida-covid-19-tracker">COVID-19</a></li>
      <li><a href="/projetos">Projetos</a></li>
      <li><a href="portefolio">Portefólio</a></li>
      <li><a href="/lattes">Lattes</a></li>
      <li><a href="teses">Teses</a></li>
      <li><a href="/biografia">Biografia</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
  </div>
</nav>