@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Exo 2/Exo 2 Light.cb4b9635a225.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Exo 2/Exo 2 Light Italic.2f7565be1c90.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Exo 2/Exo 2 Medium.326952ede2ab.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Exo 2/Exo 2 Medium Italic.e20d515eddb3.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Exo 2/Exo 2 Bold.e9443475508a.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Exo 2";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Exo 2/Exo 2 Bold Italic.6eac0fbaa262.otf") format("opentype");
}

@font-face
{
  font-display: swap;
  font-family: "Muar Stencil";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muar/Muar Stencil.dd99117e5ffc.ttf") format("truetype");
}

@font-face
{
  font-display: swap;
  font-family: "Polyline";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Polyline/Polyline Regular.8702f6012b31.ttf") format("truetype");
}

@font-face
{
  font-display: swap;
  font-family: "Syncopate";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Syncopate/Syncopate Regular.8c27d755de81.ttf") format("truetype");
}

@font-face
{
  font-display: swap;
  font-family: "Syncopate";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Syncopate/Syncopate Bold.3d81921f1fdc.ttf") format("truetype");
}

:root
{
  --body: "Exo 2", sans-serif;
  --code: "Muar", monospace;
  --code-2: "Polyline", monospace;
  --title: "Syncopate", sans-serif;
  --subtitle: "Exo 2", sans-serif;
}