:root
{
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
}

*
{
  box-sizing: border-box;
}

*:before,
*:after
{
  box-sizing: inherit;
}

body,
caption,
details,
div,
fieldset,
form,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
img,
li,
ol,
p,
summary,
svg,
table,
td,
th,
tr,
ul
{
  margin: 0;
  padding: 0;
}

body
{
  background: var(--cyan-grey-dark);
  color: var(--cyan-grey-light);
  font-family: var(--body);
  font-size: 1em;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: var(--title);
}

a
{
  color: var(--cyan-default);
  text-decoration: none;
}

a:hover
{
  color: var(--cyan-grey-light);
  text-shadow: 0 0 2px #393A33, 0 0 8px #F39F0572, 0 0 2px #F39F0572;
}

code
{
  background-color: rgba(113, 205, 248, 0.15);
  border-radius: 3px;
  color: var(--pink-light);
  font-family: var(--code-2);
  padding: 3px;
}

.row
{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) / -2);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-top: calc(var(--bs-gutter-y) * -1);
}

.row> *
{
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) / 2);
  padding-right: calc(var(--bs-gutter-x) / 2);
  width: 100%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl
{
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  width: 100%;
}

.navbar
{
  align-content: center;
  background: var(--indigo-default);
  border-bottom: 4px solid var(--cyan-grey-light);
  box-shadow: 0 4px 17px rgba(113, 205, 248, 0.25), 0 0.50px 2.13px rgba(113, 205, 248, 0.15);
  display: grid;
  height: 80px;
  left: 0;
  position: fixed;
  position: relative;
  right: 0;
  z-index: 5;
}

.navbar> .container
{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logotype
{
  background-image: url("../images/logotype_pt.svg");
  background-position:  left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 192.31px;
}

.hamburger
{
  background: transparent;
  border: 0 solid transparent;
  color: var(--cyan-grey-light);
  font-size: 16px;
  outline: 0;
}

.hamburger:hover
{
  color: var(--cyan-grey-light);
  text-shadow: 0 0 2px #393A33, 0 0 8px #F39F0572, 0 0 2px #F39F0572;
}

.off-canvas
{
  align-items: center;
  background: var(--cyan-grey-light);
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 20%, 10% 25%, 10% 45%);
  color: var(--cyan-grey-light);
  -webkit-filter: drop-shadow(-10px 0px 10px #71cdf8);
     -moz-filter: drop-shadow(-10px 0px 10px #71cdf8);
          filter: drop-shadow(-10px 0px 10px #71cdf8);
  height: calc(100vh - 80px);
  left: 0;
  max-width: 320px;
  overflow-y: auto;
  padding: 1em;
  position: fixed;
  top: 80px;
  transform: translateX(100vw);
  transition: all 235ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 100vw;
  z-index: 3;
}

.off-canvas::before
{
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    var(--indigo-dark) 1px,
    var(--indigo-dark) 3px,
    var(--indigo-dark) 5px,
    var(--indigo-dark) 4px,
    transparent 0.5%
  ),
  repeating-linear-gradient(
    to left,
    var(--cyan-grey-dark) 100%,
    var(--cyan-grey-dark) 100%
  );
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 20%, 10% 25%, 10% 45%);
  content: " ";
  display: block;
  height: calc(100vh - 80px);
  left: 4px;
  max-width: 320px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.off-canvas[aria-expanded="true"]
{
  transform: translateX(calc(100vw - 320px));
  transition: all 205ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu,
.sub-menu
{
  list-style: none;
}

.menu-link
{
  background: transparent;
  border: none;
  color: var(--cyan-grey-light);
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 1.125em 2.25em;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  z-index: 5;
}

.menu-link[aria-controls]::after
{
  content: "▼";
  display: inline-block;
  padding-left: 5px;
  position: relative;
  vertical-align: middle;
}

.menu-link[aria-controls][aria-expanded="true"]::after
{
  transform: rotate(180deg);
}

[aria-expanded="false"]+ .sub-menu
{
  display: none;
}

[aria-expanded="true"]+ .sub-menu
{
  display: block;
}

.menu-item:hover
{
  background-color: var(--indigo-default);
  background-image: url("../images/borders/cut-border.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--cyan-grey-light);
     -moz-box-shadow: inset 0px 0px 0px 2px var(--cyan-grey-light);
          box-shadow: inset 0px 0px 0px 2px var(--cyan-grey-light);
  clip-path: polygon(100% 0%, 100% 100%, 8.5% 100%, 0.00% 69%, 0% 0%);
}

.menu-item.borderless:hover
{
  background-color: var(--indigo-default);
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  clip-path: none
}

form input[type="mail"],
form input[type="submit"],
form input[type="text"],
form textarea
{
  font-family: var(--body);
  font-size: 16px;
}

a.cyberpunk2077,
button.cyberpunk2077,
input.cyberpunk2077
{
  background: var(--indigo-default);
  border: none;
  border-bottom: 3px solid var(--cyan-light);
  border-radius: 0;
  border-right: 3px solid var(--cyan-light);
  border-top: 3px solid var(--pink-default);
  clip-path: polygon(
  -20px 0%,
  calc(100% + 20px) 0%,
  calc(100% + 20px) 100%,
  20px 100%,
  -20px calc(100% - 35px)
  );
  color: var(--cyan-grey-light);
  cursor: pointer;
  display: block;
  /* display: inline; */
  font-size: 20px;
  height: 50px;
  letter-spacing: 2px;
  line-height: 45px;
  margin: 0 auto 0 auto;
  outline: none;
  /* padding: 15px 50px; */
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 200px;
}

input[type="submit"].cyberpunk2077
{
  direction: ltr;
  display: block;
  margin: 0;
  padding-bottom: 50px;
}

a.cyberpunk2077:hover,
button.cyberpunk2077:hover,
input.cyberpunk2077:hover,
a.cyberpunk2077:focus,
button.cyberpunk2077:focus,
input.cyberpunk2077:focus
{
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-name: hover;
  animation-timing-function: linear;
}

a.cyberpunk2077:hover::after,
button.cyberpunk2077:hover::after,
input.cyberpunk2077:hover::after,
a.cyberpunk2077:focus::after,
button.cyberpunk2077:focus::after,
input.cyberpunk2077:focus::after
{
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-name: hoverafter;
  animation-timing-function: linear;
}

a.cyberpunk2077::before,
button.cyberpunk2077::before,
input.cyberpunk2077::before
{
  background-color: var(--indigo-default);
  border-left: 2px solid var(--indigo-default);
  border-right: 2px solid var(--indigo-default);
  content: "";
  display: none;
  height: 12px;
  left: calc(0px - 1px - var(--outside));
  --outside: 4px;
  position: absolute;
  top: 0;
  width: calc(100% + (var(--outside) * 2));
}

a.cyberpunk2077:hover::before,
button.cyberpunk2077:hover::before,
input.cyberpunk2077:hover::before,
a.cyberpunk2077:focus::before,
button.cyberpunk2077:focus::before,
input.cyberpunk2077:focus::before
{
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-name: hoverbefore;
  animation-timing-function: linear;
  display: block;
}

@keyframes hover
{
  0%
  {
    transform: skew(0deg);
  }

  60%
  {
    transform: skew(0deg);
  }

  61%
  {
    transform: skew(10deg);
  }

  70%
  {
    transform: skew(10deg);
  }

  71%
  {
    transform: skew(0deg);
  }

  100%
  {
    transform: skew(0deg);
  }
}

@keyframes hoverbefore
{
  0%
  {
    display: none;
    top: 0;
  }

  10%
  {
    display: none;
    top: 0;
  }

  11%
  {
    display: block;
    left: calc(0px - 0px - var(--outside));
    top: 10px;
  }

  29%
  {
    top: 10px;
  }

  30%
  {
    display: none;
    top: 0;
  }

  50%
  {
    display: none;
    top: 0;
  }

  51%
  {
    display: block;
    filter: blur(1px);
    height: 22px;
    top: 55px;
  }

  90%
  {
    display: block;
    height: 22px;
    top: 55px;
  }

  91%
  {
    display: none;
    filter: blur(0px);
    height: 12px;
    top: 0;
  }

  100%
  {
    display: none;
    top: 0;
  }
}

@keyframes hoverafter
{
  0%
  {
    right: 45px;
  }

  10%
  {
    right: 45px;
  }

  11%
  {
    right: 35px;
  }

  20%
  {
    transform: skew(0deg);
  }

  21%
  {
    transform: skew(-10deg);
  }

  40%
  {
    transform: skew(-10deg);
  }

  41%
  {
    transform: skew(0deg);
  }

  49%
  {
    right: 35px;
  }

  50%
  {
    right: 55px;
  }

  60%
  {
    right: 55px;
  }

  61%
  {
    right: 35px;
  }

  70%
  {
    transform: skew(0deg);
  }

  71%
  {
    transform: skew(10deg);
  }

  80%
  {
    transform: skew(10deg);
  }

  81%
  {
    transform: skew(0deg);
  }

  100%
  {
    right: 35px;
  }
}

h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk
{
  font-size: 2.4rem;
  line-height: 2.2rem;
  padding-bottom: 15px;
  position: relative;
}

h2.cyberpunk
{
  font-size: 2rem;
  line-height: 1.9rem;
}

h3.cyberpunk
{
  font-size: 1.7rem;
  line-height: 1.6rem;
}

h4.cyberpunk
{
  font-size: 1.4rem;
  line-height: 1.2rem;
}

h1.cyberpunk::before,
h2.cyberpunk::before,
h3.cyberpunk::before,
h4.cyberpunk::before
{
  background: linear-gradient(90deg, #4DC0F6 0%, #481380 100.01%);
  bottom: 0;
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  content: "";
  display: block;
  height: 10px;
  left: 2px;
  position: absolute;
  width: 100%;
}

h1.cyberpunk.glitched
{
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-name: h1glitched;
  animation-timing-function: linear;
}

h2.cyberpunk.glitched
{
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-name: h1glitched;
  animation-timing-function: linear;
}

h3.cyberpunk.glitched
{
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) * 1.1);
  animation-iteration-count: infinite;
  animation-name: h1glitched;
  animation-timing-function: ease-out;
}

h4.cyberpunk.glitched
{
  animation-duration: calc(var(--glitched-duration) * 2.1);
  animation-iteration-count: infinite;
  animation-name: h1glitched;
  animation-timing-function: ease-in-out;
}

@keyframes h1glitched
{
  0%
  {
    left: -4px;
    transform: skew(-20deg);
  }

  10%
  {
    left: -4px;
    transform: skew(-20deg);
  }

  11%
  {
    left: 2px;
    transform: skew(0deg);
  }

  50%
  {
    transform: skew(0deg);
  }

  51%
  {
    transform: skew(10deg);
  }

  59%
  {
    transform: skew(10deg);
  }

  60%
  {
    transform: skew(0deg);
  }

  100%
  {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched::before
{
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-name: h1beforeglitched;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched
{
  0%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    left: -4px;
    transform: skew(-20deg);
  }

  10%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    left: -4px;
    transform: skew(-20deg);
  }

  11%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    left: 2px;
    transform: skew(0deg);
  }

  50%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    transform: skew(0deg);
  }

  51%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
    transform: skew(0deg);
  }

  59%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
    transform: skew(0deg);
  }

  60%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    transform: skew(0deg);
  }

  100%
  {
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    transform: skew(0deg);
  }
}

h2.cyberpunk::before
{
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.cyberpunk.glitched::before
{
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-name: h2beforeglitched;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched
{
  0%
  {
    transform: scaleY(1);
  }

  10%
  {
    transform: scaleY(1);
  }

  11%
  {
    transform: scaleY(-1);
  }

  50%
  {
    transform: scaleY(-1);
  }

  51%
  {
    transform: scaleY(1);
  }

  59%
  {
    transform: scaleY(1);
  }

  60%
  {
    transform: scaleY(1);
  }

  100%
  {
    transform: scaleY(1);
  }
}

h3.cyberpunk::before
{
  clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk::before
{
  clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk::after,
h2.cyberpunk::after,
h3.cyberpunk::after,
h4.cyberpunk::after,
p.cyberpunk::after
{
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-name: hxafter;
  animation-timing-function: linear;
  content: "_";
}

h3.cyberpunk::after,
h4.cyberpunk::after
{
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

@keyframes hxafter
{
  0%
  {
    opacity: 0;
  }

  50%
  {
    opacity: 0;
  }

  51%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 1;
  }
}

hr
{
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-name: hr;
  animation-timing-function: linear;
  background-color: white;
  clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  height: 14px;
  width: 100%;
}

@keyframes hr
{
  0%
  {
    transform: skew(0deg);
  }

  15%
  {
    transform: skew(0deg);
  }

  16%
  {
    transform: skew(20deg);
  }

  20%
  {
    transform: skew(20deg);
  }

  21%
  {
    transform: skew(0deg);
  }

  100%
  {
    right: 35px;
  }
}

footer
{
  background-color: var(--cyan-dark);
  padding-bottom: 50px;
}

footer img
{
  display: block;
  margin: 0 auto;
  width: 414px;
}

footer ul
{
  display: flex;
  gap: 30px;
  justify-content: center;
}

footer ul li
{
  list-style: none;
}

footer ul li a
{
  color: var(--cyan-grey-light);
}

.credits
{
  background: var(--indigo-default);
  border-top: 3px solid var(--cyan-grey-light);
  box-shadow: 0 -4px 28px rgba(113, 205, 248, 0.15);
  padding: 2em;
}

.credits p span
{
  font-family: var(--emoji) !important;
}

span[role=img][aria-label],
span[role=img][aria-label]
{
  position: relative;
  vertical-align: middle;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after
{
  animation: TOOLTIP 0.1s ease-out 1;
  background-color: rgba(0,0,0,0.85);
  border: 0.05em solid rgba(255,255,255,1);
  border-radius: 0.2em;
  bottom: 1.5em;
  box-shadow: 0.15em 0.15em 0.5em rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  content: attr(aria-label);
  display: block;
  font-family: var(--body);
  font-size: 80%;
  left: 0;
  max-width: 5em;
  padding: 0.5em 0.75em;
  position: absolute;
  z-index: 1;
}

@media print
{
  span[role=img][aria-label]::after
  {
    content: " (" attr(aria-label) ") ";
  }
}

@media (min-width: 576px)
{
  .container,
  .container-sm
  {
    max-width: 540px;
  }
}

@media (min-width: 768px)
{
  .container,
  .container-sm,
  .container-md
  {
    max-width: 720px;
  }
}

@media (min-width: 992px)
{
  .container,
  .container-sm,
  .container-md,
  .container-lg
  {
    max-width: 960px;
  }
}

@media (min-width: 1200px)
{
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  {
    max-width: 1140px;
  }
}

@media (min-width: 1400px)
{
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl
  {
    max-width: 1320px;
  }
}

/* Widescreen 1280 */
@media only screen and (max-width: 1280px)
{
  footer ul
  {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: center;
  }

  footer ul li
  {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 1024px)
{
}

@media only screen and (max-width: 990px)
{
}

@media only screen and (max-width: 800px)
{
  .logotype
  {
    background-image: url("../images/logotype_reduced.svg");
    width: 40px;
  }

  h2.cyberpunk
  {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }

  a.cyberpunk2077,
  button.cyberpunk2077,
  input.cyberpunk2077
  {
    font-size: 14px;
    height: 30px;
    line-height: 22px;
    width: 150px;
  }
}

@media only screen and (max-width: 780px)
{

}

@media screen and (max-width: 640px)
{
}

@media only screen and (max-width: 540px)
{
  footer img
  {
    width: 212px;
  }
}

@media only screen and (max-width: 428px)
{
}

/* Xiaomi Redmi Note 7 – Portrato */
@media only screen and (max-width: 395px)
{
}

@media only screen and (max-width: 384px)
{
}

@media only screen and (max-width: 375px)
{
}

@media only screen and (max-width: 320px)
{
}

@media only screen and (max-width: 280px)
{
}

@media only screen and (max-width: 240px)
{
}
