:root
{
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
}

*
{
  box-sizing: border-box;
}

*:before,
*:after
{
  box-sizing: inherit;
}

body,
caption,
details,
div,
fieldset,
form,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
img,
li,
ol,
p,
summary,
svg,
table,
td,
th,
tr,
ul
{
  margin: 0;
  padding: 0;
}

body
{
  background: var(--cyan-grey-dark);
  color: var(--cyan-grey-light);
  font-family: var(--body);
  font-size: 1em;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: var(--title);
}

a
{
  color: var(--cyan-default);
  text-decoration: none;
}

a:hover
{
  color: var(--cyan-grey-light);
  text-shadow: 0 0 2px #393A33, 0 0 8px #F39F0572, 0 0 2px #F39F0572;
}

code
{
  background-color: rgba(113, 205, 248, 0.15);
  border-radius: 3px;
  color: var(--pink-light);
  font-family: var(--code-2);
  padding: 3px;
}

.menu
{
  background: var(--indigo-default);
  height: 5rem;
  z-index: 5;
}

.menu ol
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.menu img
{
  height: 5rem;
}

.menu > ol
{
  max-width: 1000px;
  padding: 0 2rem;
  display: flex;
}

.menu > ol > .menu-item
{
  flex: 1;
  padding: 1.2rem 0;
}

.menu > ol > .menu-item:after
{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #FECEAB;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}

.menu > ol > .menu-item:hover:after
{
  transform: scale(1);
}

.menu-item
{
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}

.menu-item a
{
  color: var(--cyan-grey-light);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-menu .menu-item
{
  padding: 0.75rem 0;
  background: #F67280;
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1)
{
  animation-duration: 0.2s;
  animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2)
{
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3)
{
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}

.sub-menu .menu-item:hover
{
  background: #F8B195;
}

.sub-menu .menu-item a
{
  padding: 0 0.75rem;
}

@media screen and (max-width: 600px)
{
  .sub-menu .menu-item
  {
    background: #C06C84;
  }
}

@media screen and (max-width: 600px)
{
  .menu
  {
    position: relative;
  }

  .menu:after
  {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1rem;
    width: 30px;
    height: 4px;
    background: #FFFFFF;
    box-shadow: 0 10px #FFFFFF, 0 -10px #FFFFFF;
  }

  .menu > ol
  {
    display: none;
    background: #F67280;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    animation: fade 0.2s ease-out;
  }

  .menu > ol > .menu-item
  {
    flex: 0;
    opacity: 0;
    animation: enter 0.3s ease-out forwards;
  }

  .menu > ol > .menu-item:nth-child(1)
  {
    animation-delay: 0s;
  }

  .menu > ol > .menu-item:nth-child(2)
  {
    animation-delay: 0.1s;
  }

  .menu > ol > .menu-item:nth-child(3)
  {
    animation-delay: 0.2s;
  }

  .menu > ol > .menu-item:nth-child(4)
  {
    animation-delay: 0.3s;
  }

  .menu > ol > .menu-item:nth-child(5)
  {
    animation-delay: 0.4s;
  }

  .menu > ol > .menu-item+ .menu-item
  {
    margin-top: 0.75rem;
  }

  .menu > ol > .menu-item:after
  {
    left: auto;
    right: 1rem;
    bottom: calc(50% - 2px);
  }

  .menu > ol > .menu-item:hover
  {
    z-index: 1;
  }

  .menu:hover> ol
  {
    display: flex;
  }

  .menu:hover:after
  {
    box-shadow: none;
  }
}

.sub-menu
{
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}

.menu-item:hover> .sub-menu
{
  display: block;
}

@media screen and (max-width: 600px)
{
  .sub-menu
  {
    width: 100vw;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes enter
{
  from
  {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }

  to
  {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

form input[type="mail"],
form input[type="submit"],
form input[type="text"],
form textarea
{
  font-family: var(--body);
  font-size: 16px;
}

a.cyberpunk2077,
button.cyberpunk2077,
input.cyberpunk2077
{
  background: var(--indigo-default);
  border-radius: 0;
  border: none;
  border-bottom: 3px solid var(--cyan-light);
  border-top: 3px solid var(--pink-default);
  border-right: 3px solid var(--cyan-light);
  clip-path: polygon(
  -20px 0%,
  calc(100% + 20px) 0%,
  calc(100% + 20px) 100%,
  20px 100%,
  -20px calc(100% - 35px)
  );
  color: var(--cyan-grey-light);
  cursor: pointer;
  display: block;
  /* display: inline; */
  font-size: 20px;
  height: 50px;
  letter-spacing: 2px;
  line-height: 45px;
  margin: 0 auto 0 auto;
  outline: none;
  /* padding: 15px 50px; */
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 200px;
}

input[type="submit"].cyberpunk2077
{
  display: block;
  direction: ltr;
  margin: 0;
  padding-bottom: 50px;
}

a.cyberpunk2077:hover,
button.cyberpunk2077:hover,
input.cyberpunk2077:hover,
a.cyberpunk2077:focus,
button.cyberpunk2077:focus,
input.cyberpunk2077:focus
{
  animation-name: hover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

a.cyberpunk2077:hover::after,
button.cyberpunk2077:hover::after,
input.cyberpunk2077:hover::after,
a.cyberpunk2077:focus::after,
button.cyberpunk2077:focus::after,
input.cyberpunk2077:focus::after
{
  animation-name: hoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

a.cyberpunk2077::before,
button.cyberpunk2077::before,
input.cyberpunk2077::before
{
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--indigo-default);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid var(--indigo-default);
  border-right: 2px solid var(--indigo-default);
}

a.cyberpunk2077:hover::before,
button.cyberpunk2077:hover::before,
input.cyberpunk2077:hover::before,
a.cyberpunk2077:focus::before,
button.cyberpunk2077:focus::before,
input.cyberpunk2077:focus::before
{
  display: block;
  animation-name: hoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hover
{
  0%
  {
    transform: skew(0deg);
  }

  60%
  {
    transform: skew(0deg);
  }

  61%
  {
    transform: skew(10deg);
  }

  70%
  {
    transform: skew(10deg);
  }

  71%
  {
    transform: skew(0deg);
  }

  100%
  {
    transform: skew(0deg);
  }
}

@keyframes hoverbefore
{
  0%
  {
    display: none;
    top: 0;
  }

  10%
  {
    display: none;
    top: 0;
  }

  11%
  {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }

  29%
  {
    top: 10px;
  }

  30%
  {
    display: none;
    top: 0;
  }

  50%
  {
    display: none;
    top: 0;
  }

  51%
  {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }

  90%
  {
    display: block;
    top: 55px;
    height: 22px;
  }

  91%
  {
    filter: blur(0px);
    display: none;
    top: 0;
    height: 12px;
  }

  100%
  {
    display: none;
    top: 0;
  }
}

@keyframes hoverafter
{
  0%
  {
    right: 45px;
  }

  10%
  {
    right: 45px;
  }

  11%
  {
    right: 35px;
  }

  20%
  {
    transform: skew(0deg);
  }

  21%
  {
    transform: skew(-10deg);
  }

  40%
  {
    transform: skew(-10deg);
  }

  41%
  {
    transform: skew(0deg);
  }

  49%
  {
    right: 35px;
  }

  50%
  {
    right: 55px;
  }

  60%
  {
    right: 55px;
  }

  61%
  {
    right: 35px;
  }

  70%
  {
    transform: skew(0deg);
  }

  71%
  {
    transform: skew(10deg);
  }

  80%
  {
    transform: skew(10deg);
  }

  81%
  {
    transform: skew(0deg);
  }

  100%
  {
    right: 35px;
  }
}

h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk
{
  font-size: 2.4rem;
  line-height: 2.2rem;
  padding-bottom: 15px;
  position: relative;
}

h2.cyberpunk
{
  font-size: 2rem;
  line-height: 1.9rem;
}

h3.cyberpunk
{
  font-size: 1.7rem;
  line-height: 1.6rem;
}

h4.cyberpunk
{
  font-size: 1.4rem;
  line-height: 1.2rem;
}

h1.cyberpunk::before,
h2.cyberpunk::before,
h3.cyberpunk::before,
h4.cyberpunk::before
{
  background: linear-gradient(90deg, #4DC0F6 0%, #481380 100.01%);
  bottom: 0;
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  content: "";
  display: block;
  height: 10px;
  left: 2px;
  position: absolute;
  width: 100%;
}

h1.cyberpunk.glitched
{
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h2.cyberpunk.glitched
{
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

h3.cyberpunk.glitched
{
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.1);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

h4.cyberpunk.glitched
{
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 2.1);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes h1glitched
{
  0%
  {
    transform: skew(-20deg);
    left: -4px;
  }

  10%
  {
    transform: skew(-20deg);
    left: -4px;
  }

  11%
  {
    transform: skew(0deg);
    left: 2px;
  }

  50%
  {
    transform: skew(0deg);
  }

  51%
  {
    transform: skew(10deg);
  }

  59%
  {
    transform: skew(10deg);
  }

  60%
  {
    transform: skew(0deg);
  }

  100%
  {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched::before
{
  animation-name: h1beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched
{
  0%
  {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  10%
  {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  11%
  {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  50%
  {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  51%
  {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  59%
  {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  60%
  {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  100%
  {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}

h2.cyberpunk::before
{
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.cyberpunk.glitched::before
{
  animation-name: h2beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched
{
  0%
  {
    transform: scaleY(1);
  }

  10%
  {
    transform: scaleY(1);
  }

  11%
  {
    transform: scaleY(-1);
  }

  50%
  {
    transform: scaleY(-1);
  }

  51%
  {
    transform: scaleY(1);
  }

  59%
  {
    transform: scaleY(1);
  }

  60%
  {
    transform: scaleY(1);
  }

  100%
  {
    transform: scaleY(1);
  }
}

h3.cyberpunk::before
{
  clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk::before
{
  clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk::after,
h2.cyberpunk::after,
h3.cyberpunk::after,
h4.cyberpunk::after,
p.cyberpunk::after
{
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3.cyberpunk::after,
h4.cyberpunk::after
{
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

@keyframes hxafter
{
  0%
  {
    opacity: 0;
  }

  50%
  {
    opacity: 0;
  }

  51%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 1;
  }
}

hr
{
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-name: hr;
  animation-timing-function: linear;
  background-color: white;
  clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  height: 14px;
  width: 100%;
}

@keyframes hr
{
  0%
  {
    transform: skew(0deg);
  }

  15%
  {
    transform: skew(0deg);
  }

  16%
  {
    transform: skew(20deg);
  }

  20%
  {
    transform: skew(20deg);
  }

  21%
  {
    transform: skew(0deg);
  }

  100%
  {
    right: 35px;
  }
}

footer
{
  background-color: var(--cyan-dark);
  padding-bottom: 50px;
}

footer img
{
  display: block;
  margin: 0 auto;
  width: 414px;
}

footer ul
{
  display: flex;
  gap: 30px;
  justify-content: center;
}

footer ul li
{
  list-style: none;
}

footer ul li a
{
  color: var(--cyan-grey-light);
}

.credits
{
  background: var(--indigo-default);
  box-shadow: 0 -4px 28px rgba(113, 205, 248, 0.15);
  border-top: 3px solid var(--cyan-grey-light);
  padding: 2em;
}

.credits p span
{
  font-family: var(--emoji) !important;
}

span[role=img][aria-label],
span[role=img][aria-label]
{
  position: relative;
  vertical-align: middle;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after
{
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 1.5em;
  left: 0;
  max-width: 5em;
  padding: 0.5em 0.75em;
  border: 0.05em solid rgba(255,255,255,1);
  border-radius: 0.2em;
  box-shadow: 0.15em 0.15em 0.5em rgba(0,0,0,1);
  content: attr(aria-label);
  background-color: rgba(0,0,0,0.85);
  color: rgba(255,255,255,1);
  font-family: var(--body);
  font-size: 80%;
  animation: TOOLTIP 0.1s ease-out 1;
}

@media print
{
  span[role=img][aria-label]::after
  {
    content: " (" attr(aria-label) ") ";
  }
}

/* Widescreen 1280 */
@media only screen and (max-width: 1280px)
{
}

@media only screen and (max-width: 1024px)
{
}

@media only screen and (max-width: 800px)
{
  h2.cyberpunk
  {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }

  a.cyberpunk2077,
  button.cyberpunk2077,
  input.cyberpunk2077
  {
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    width: 150px;
  }
}

@media only screen and (max-width: 780px)
{
  footer ul
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0;
    text-align: center;
  }

  footer ul li
  {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 640px)
{
}

@media only screen and (max-width: 540px)
{
  footer img
  {
    width: 212px;
  }
}

@media only screen and (max-width: 428px)
{
}

/* Xiaomi Redmi Note 7 – Portrato */
@media only screen and (max-width: 395px)
{
}

@media only screen and (max-width: 384px)
{
}

@media only screen and (max-width: 375px)
{
}

@media only screen and (max-width: 320px)
{
}

@media only screen and (max-width: 280px)
{
}

@media only screen and (max-width: 240px)
{
}
