section
{
  padding: 5em 5em 10em 5em;
}

h1,
h1 + p
{
  margin-bottom: 2rem;
  margin-top: 1rem;
}

p > a
{
  background-color: var(--pink-medium);
  border-radius: 5px;
  color: var(--cyan-grey-light);
  margin-left: 10px;
  padding: 5px;
}

h2,
h3
{
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2 ~ p span
{
  background: var(--pink-dark);
  border-radius: 2px;
  margin-left: 5px;
  padding: 5px;
}

h3
{
  color: var(--cyan-medium);
}

p
{
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

hr
{
  background-color: var(--pink-medium);
  border: 0;
  margin-bottom: 2rem;
  margin-top: 5rem;
  outline: 0;
}

hr ~ h2
{
  margin-top: 5rem;
}

hr:last-child
{
  display: none;
}

img.portfolio
{
  background-color: var(--indigo-dark);
  border-radius: 10px;
  border: 30px solid var(--indigo-dark);
  border-left: 5px solid var(--indigo-dark);
  border-right: 5px solid var(--indigo-dark);
  border-bottom: 15px solid var(--indigo-dark);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  display: block;
  max-width: 100%;
}

.carousel
{
  width: 100%;
}

.carousel,
.carousel__slide
{
  position: relative;
}

.carusel__image
{
  object-fit: cover;
  width: 100%;
}

.carousel__caption
{
  background: var(--indigo-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  color: var(--cyan-grey-light);
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
}

.carousel__control--previous,
.carousel__control--next
{
  background: #FFFFFF;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  user-select: none;
}

.carousel__control--previous:hover,
.carousel__control--next:hover
{
  background: hsl(0, 0%, 98%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.carousel__control--previous:active,
.carousel__control--next:active
{
  background: hsl(0, 0%, 96%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel__control--previous
{
  left: 0;
}

.carousel__control--next
{
  right: 0;
}

/* Widescreen 1280 */
@media only screen and (max-width: 1280px)
{
}

@media only screen and (max-width: 1024px)
{
  section
  {
    background-color: var(--indigo-dark);
  }
}

@media only screen and (max-width: 990px)
{
  h2~ p span
  {
    line-height: 2.5em;
  }
}

@media only screen and (max-width: 800px)
{
  section
  {
    padding: 3em 3em 6em 3em;
  }
}

@media only screen and (max-width: 780px)
{
}

@media screen and (max-width: 640px)
{
}

@media only screen and (max-width: 540px)
{
  section
  {
    padding: 1em 1em 6em 1em;
  }
}

@media only screen and (max-width: 428px)
{
}

/* Xiaomi Redmi Note 7 – Portrato */
@media only screen and (max-width: 395px)
{
}

@media only screen and (max-width: 384px)
{
}

@media only screen and (max-width: 375px)
{
}

@media only screen and (max-width: 320px)
{
  h1.cyberpunk
  {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 280px)
{
}

@media only screen and (max-width: 240px)
{
}
